{% extends 'base.html' %}
{% block content %}

<!-- BUSCANDO E EXIBINDO AS FLASH MESSAGES (usa para pegar mensagens que caem aqui)-->
 {% with messages = get_flashed_messages(with_categories=true) %}

 {% for category, messsage in messages %}
    <div class="alert alert-{{ category }}">
        {{ messsage }}
    </div>
 {% endfor %}
 {% endwith %}

<div class="container col-4">
    <div class="card mt-4">
        
        <div class="card-header">
            <h1>Login do usuário</h1>
        </div>

        <div class="card-body m-auto">
            <!-- FORM -->
             <form action="{{url_for('login')}}" method="POST">
                <label>E-mail</label>
                <input type="email" name="email" placeholder="Insira seu e-mail" required class="form-control">

                <label>Senha</label>
                <input type="password" name="senha" placeholder="Insira sua senha" required class="form-control">
                <br>
            <!-- BOTÕES -->
             <button type="submit" class="btn btn-danger  btn-block">Entrar</button>
             </form>
             <hr>
             <h6>Não possui conta? <a href="{{url_for('cadastro')}}">Cadastre-se!</a></h6>

        </div>

    </div>

</div>

{% endblock content %}