{% extends 'base.html' %}

{% block content %}

<!-- TABELA DE JOGOS -->
<H2>Controle de Estoque</H2>
<table class="table table-bordered table-hover">
    <thead class="table-dark">
    <tr>
        <th>Titulo</th>
        <th>Ano</th>
        <th>Categoria</th>
        <th>Plataforma</th>
        <th>Preço</th>
        <th>Quantidade</th>
    </tr>
    </thead>
    <tbody>
        <tr>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
        </tr>
    </tbody>
</table>

{% endblock content %}