{% extends 'base.html' %} {% block content %}

<details>
  <summary>[ Cadastrar um novo jogo ]</summary>
  <div class="col-md-4">
    <form action="{{url_for('estoque_jogos')}}" method="POST">
      <input
        type="text"
        name="titulo"
        placeholder="Título"
        class="form-control"
        required
      />
      <input
        type="number"
        name="ano"
        placeholder="Ano"
        class="form-control"
        required
      />
      <input
        type="text"
        name="categoria"
        placeholder="Categoria"
        class="form-control"
        required
      />
      <input
        type="text"
        name="plataforma"
        placeholder="Plataforma"
        class="form-control"
        required
      />
      <input
        type="number"
        name="preco"
        placeholder="Preço"
        class="form-control"
        required
      />
      <input
        type="number"
        name="quantidade"
        placeholder="Quantidade"
        class="form-control"
        required
      />
<br>
<input type="submit" value="Cadastrar" class="btn btn-success">
<input type="reset" value="Limpar" class="btn btn-danger">
    </form>
  </div>
</details>

<h2>Controle de Estoque</h2>
<table class="table table-boredered table-hover">
  <thead class="table-dark">
    <tr>
      <th>Título</th>
      <th>Ano</th>
      <th>Categoria</th>
      <th>Plataforma</th>
      <th>Preço</th>
      <th>Quantidade</th>
    </tr>
  </thead>
  <tbody>
    {% for game in games %}
    <tr>
      <td>{{game.titulo}}</td>
      <td>{{game.ano}}</td>
      <td>{{game.categoria}}</td>
      <td>{{game.plataforma}}</td>
      <td>{{game.perco}}</td>
      <td>{{game.quantidade}}</td>
    </tr>
    {% endfor %}
  </tbody>
</table>

{% endblock content %}
