{% extends 'base.html' %} {% block content %}

<div class="container mt-4">
  <details open>
    <summary>
      <strong>[ Cadastrar um novo console ]</strong>
    </summary>

    <div class="col-md-4 mt-3">
      <form action="{{ url_for('estoque_consoles') }}" method="POST">
        <input
          type="text"
          name="nome"
          placeholder="Nome"
          class="form-control mb-2"
          required
        />

        <input
          type="text"
          name="fabricante"
          placeholder="Fabricante"
          class="form-control mb-2"
          required
        />

        <input
          type="number"
          name="ano"
          placeholder="Ano"
          class="form-control mb-2"
          required
        />

        <input
          type="number"
          step="0.01"
          name="preco"
          placeholder="Preço"
          class="form-control mb-2"
          required
        />

        <input
          type="number"
          name="quantidade"
          placeholder="Quantidade"
          class="form-control mb-3"
          required
        />

        <input type="submit" value="Cadastrar" class="btn btn-success" />

        <input type="reset" value="Limpar" class="btn btn-danger" />
      </form>
    </div>
  </details>

  <hr />

  <h2>Controle de Estoque de Consoles</h2>

  <table class="table table-bordered table-hover">
    <thead class="table-dark">
      <tr>
        <th>Nome</th>
        <th>Fabricante</th>
        <th>Ano</th>
        <th>Preço</th>
        <th>Quantidade</th>
        <th colspan="2" class="text-center">Ações</th>
      </tr>
    </thead>

    <tbody>
      {% for console in consoles %}

      <tr>
        <td>{{ console.nome }}</td>
        <td>{{ console.fabricante }}</td>
        <td>{{ console.ano }}</td>
        <td>{{ console.preco }}</td>
        <td>{{ console.quantidade }}</td>

        <td>
          <a href="#" class="btn btn-warning btn-sm"> Editar </a>
        </td>

        <td>
          <a
            href="{{ url_for('deletar_console', id=console.id) }}"
            class="btn btn-danger btn-sm"
            onclick="return confirm('Deseja mesmo excluir o console?');"
          >
            Deletar
          </a>
        </td>
      </tr>

      {% endfor %}
    </tbody>
  </table>
</div>

{% endblock content %}
